<div class="container">
  <h2 class="title">Face Recognition</h2>

  <div class="upload-section">
    <!-- <input type="file" (change)="onFileSelected($event)" accept="image/*" /> -->
    <button class="submit-btn" (click)="submit()">Submit</button>
  </div>

  <div class="media-section">
    <img
      class="uploaded-image"
      [src]="imageUrl"
      *ngIf="imageUrl"
      alt="Uploaded Image"
    />
    <div class="description-section">
      <div *ngFor="let face of faceData" class="face-info">
        <p class="info-title">Face Info:</p>
        <p>
          <span class="attribute">Face Rectangle:</span>
          {{ face.faceRectangle | json }}
        </p>
        <p><span class="attribute">Glasses:</span> {{ face.glasses }}</p>
        <p>
          <span class="attribute">Headpose:</span> {{ face.headpose | json }}
        </p>
        <p><span class="attribute">Noise:</span> {{ face.noise | json }}</p>
        <p><span class="attribute">Blur:</span> {{ face.blur | json }}</p>
        <p>
          <span class="attribute">Exposure:</span> {{ face.exposure | json }}
        </p>
        <p>
          <span class="attribute">Occulsion:</span> {{ face.occulsion | json }}
        </p>
        <p>
          <span class="attribute">Accessories:</span>
          {{ face.accessories | json }}
        </p>
        <hr class="divider" />
      </div>
    </div>
  </div>
</div>
