<div class="container">
  <h2 class="title">Face Recognition</h2>

  <div class="upload-section">
    <div class="btn-container">
      <button class="cssbuttons-io-button" (click)="openUploader()">
        Upload Image
        <div class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
          >
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path
              fill="currentColor"
              d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
            ></path>
          </svg>
        </div>
      </button>
      <button class="cssbuttons-io-button" (click)="submit()">
        Submit
        <div class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
          >
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path
              fill="currentColor"
              d="M21 5v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2zM8 7v10l5-5-5-5zm2-2h4v4h-4z"
            ></path>
          </svg>
        </div>
      </button>
      <button class="cssbuttons-io-button" (click)="submitAnother()">
        Submit Another
        <div class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
          >
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path
              fill="currentColor"
              d="M21 12l-6.4-4.8v3.7H3v1.6h11.6v3.7L21 12z"
            ></path>
          </svg>
        </div>
      </button>
    </div>
  </div>

  <div class="media-section">
    <img
      class="uploaded-image"
      [src]="imageUrl"
      *ngIf="imageUrl"
      alt="Uploaded Image"
    />
    <div class="description-section">
      <div class="face-info">
        <p class="info-title">Face Info:</p>
        <table class="attribute-table">
          <tbody>
            <!-- Face attribute display section -->
          </tbody>
        </table>
        <hr class="divider" />
      </div>
    </div>
  </div>
</div>
